<div class="wrapper">
    <div class="wrapper-container">
        <div class="logo">
            <img src="assets/medIcon.png">
        </div>
        <div class="srch-box">
            <div class="location-ctr">
           
            <i class="fa fa-map-marker"></i>
        </div>
            <input type="text">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="cart-user">
            <span><img src="assets/shopping-cart.png"></span>
            <span>
                <img src="assets/user.png">
                
            </span>
            <div class="sign-signup" *ngIf="!isLoggedin">
                <span routerLink="/login">login</span>/<span>signup</span>
            </div>
            <div class="sign-signup" *ngIf="isLoggedin">
                <span (click)="logout()">logout</span>
            </div>
        </div>
        
    </div>
   
</div>