<div class="wrapper">
    <div class="wrapper-container">
        <div class="logo">
            <img src="assets/medIcon.png">
        </div>
        <div class="srch-box">
            <input type="text">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="cart-user">
            <span><img src="assets/shopping-cart.png"></span>
            <span>
                <img src="assets/user.png">
                
            </span>
            <div class="sign-signup">
                <span>login</span>/<span>signup</span>
            </div>
        </div>
        
    </div>
   
</div>