.carousel-ctr{
  
    color: #6A9038;
}
.car-details > .p-grid {
    border: 1px solid #121212;
    border-radius: 3px;
    margin: 0.3em;
    text-align: center;
    padding: 2em 0 2.25em 0;
    background-color: transparent;//#121212;
    color : #FEF7F5;
    box-shadow: 6px -1px 26px 0px rgba(30,33,41,1);
}
.img-ctr{
    height: 150px;
}
.car-title{
    color: #6A9038;
    margin-bottom: 2%;
}
.ui-button-info{
background:#6A9038; ;
}